:root {
  --orange: #fd7d00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-feature-settings: "zero";
}
html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.sec-1 {
  background: rgba(0, 0, 0, 1) url(../Images/background2.webp) center center/cover no-repeat;

  padding-top: 15px;
  /* background-blend-mode: darken; */
}

nav {
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: var(--orange);
  margin: 0 auto;
}
nav h1 {
  text-align: center;
}
sub {
  color: #fff;
}

.sec-1 .container {
  padding-bottom: 10px;
}

#input {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
input[type="text"] {
  border-radius: 50px;
  border-color: var(--orange);
  background-color: black;
  padding: 10px;
  opacity: 0.5;
  color: #fff;
  
 
}

button[type="button"] {
  background-color: var(--orange);
  width: 50px;
  border-radius: 25px 10px;
}

button[type="button"]:active,
i:active {
  background-color: green !important;
}

ul {
  margin: 50px;
  /* list-style:square; */
}

li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal !important;
  color: #fff;
  list-style-type:decimal ;
}
li:hover {
  background-color: dimgray;
  color: bisque;
  border-radius: 25px 0px 25px 0px;
  padding: 10px;
}

div.print{
  display: flex;
  justify-content: center;
}
#print{
  background-color: var(--orange);
  width: 200px;
  border-radius: 10px 25px;
    
     
} 

/* media quire */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  input[type="text"] {
    width: 500px;
  }
}
@media (min-width: 992px) {
  nav {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  nav {
    width: 1144px;
  }
}
@media (min-width: 1400px) {
}

/* print */

@media print {
div:not(div#ul) {
display:none;
} 
sub,li{
  color: black;
  font-family:'Times New Roman', Times, serif;
}
} 

